@-webkit-keyframes mobile-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mobile-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*----------------------top-navigation-style------------------------*/
.top-navigation-box {
  position: relative;
  z-index: 1000;
}

.menu-item a {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-item a.hover-effect::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.menu-item a.hover-effect:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.menu-item a.hover-effect::before {
  background: #ed1c24;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.menu-item a:hover span {
  color: #ed1c24;
}

.menu-item a.hover-effect:hover {
  color: #ed1c24;
}

.menu-item a.hover-effect:hover::before {
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.top-navigation {
  z-index: 1004;
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 2px 10px #b5b5b5;
          box-shadow: 0 2px 10px #b5b5b5;
}

.top-navigation .sub-menu-box {
  position: absolute;
  left: 0;
  top: 72px;
  height: auto;
}

.top-navigation .sub-menu-box .sub-menu-items {
  width: 14.28%;
  float: left;
  position: relative;
}

.top-navigation .sub-menu-box .sub-menu-items a {
  padding-bottom: 15px;
}

.top-navigation .sub-menu-box .sub-menu-items a.sub-child {
  color: #a0a0a0;
}

.top-navigation .sub-menu-wrapper.show {
  opacity: 1;
  visibility: visible;
}

.top-navigation .sub-menu-wrapper {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.top-navigation .sub-menu-back.show {
  background-color: #00000050;
  visibility: visible;
  opacity: 1;
  z-index: 999;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 95px;
}

@media (max-width: 1279px) {
  .top-navigation .sub-menu-back.show {
    top: 0;
  }
}

.top-navigation .sub-menu-back {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.top-navigation .sub-menu-box .sub-menu-items:after {
  content: "";
  left: 0;
  top: 6px;
  height: calc(100% - 22px);
  width: 1px;
  background-color: #a0a0a0;
  position: absolute;
}

.fullback-modalproduct {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 80%;
  top: 0;
  z-index: 999;
  left: 0;
}

.hover-item:hover {
  color: #ed1c24 !important;
}

.mobile-navigation {
  height: 57px;
}

.mobile-navigation .hamer-menu-box {
  position: fixed;
  top: 95px;
  width: 280px;
  height: calc(100vh - 95px);
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
          transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 1000;
}

.mobile-navigation .hamer-menu-box.category-items {
  left: -100%;
  -webkit-box-shadow: 3px 0 5px #d2d2d2;
          box-shadow: 3px 0 5px #d2d2d2;
}

.mobile-navigation .hamer-menu-box.category-items.show {
  left: 0;
}

.mobile-navigation .hamer-menu-box.general-article-items {
  right: -100%;
  -webkit-box-shadow: -3px 0 5px #d2d2d2;
          box-shadow: -3px 0 5px #d2d2d2;
}

.mobile-navigation .hamer-menu-box.general-article-items.show {
  right: 0;
}

.mobile-navigation .hamer-menu-box.general-article-items .parent img {
  position: absolute;
  left: 15px;
  top: 45%;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mobile-navigation .hamer-menu-box.general-article-items .parent img.hidden {
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
}

.mobile-navigation .list-items {
  height: calc(100vh - 170px);
}

.mobile-navigation .list-items .arrow-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.mobile-navigation .list-items .arrow-icon.rtl {
  right: auto;
  left: 15px;
}

.mobile-navigation .list-items .arrow-icon.arrow-icon-open i {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.mobile-search {
  padding: 8px 15px;
}

.mobile-search > div {
  padding-bottom: 4px;
}

.mobile-search input {
  width: calc(100% - 30px);
}

.mobile-search button {
  width: 30px;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #00000052;
  z-index: 999;
  -webkit-animation: mobile-overlay 0.5s forwards;
          animation: mobile-overlay 0.5s forwards;
}
/*# sourceMappingURL=TopNavigation.css.map */